{% extends "blog/base.html" %}

{% block title %}Share a post{% endblock %}

{% block content %}
<div class="container mt-5">
  {% if sent %}
    <div class="alert alert-success" role="alert">
      <h1 class="h4">E-mail Successfully Sent</h1>
      <p>"{{ post.title }}" was successfully sent to <strong>{{ form.cleaned_data.to }}</strong>.</p>
    </div>
  {% else %}
    <h1 class="mb-4">Share "<em>{{ post.title }}</em>" by E-mail</h1>
    <form method="post" class="needs-validation" novalidate>
      {% csrf_token %}
      <div class="mb-3">
        {{ form.name.label_tag }} {{ form.name }}
      </div>
      <div class="mb-3">
        {{ form.email.label_tag }} {{ form.email }}
      </div>
      <div class="mb-3">
        {{ form.to.label_tag }} {{ form.to }}
      </div>
      <div class="mb-3">
        {{ form.comments.label_tag }} {{ form.comments }}
      </div>
      <button type="submit" class="btn btn-primary">Send E-mail</button>
    </form>
  {% endif %}
</div>
{% endblock %}
